apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: observability
  labels:
    app: jaeger
spec:
  type: NodePort
  ports:
  - port: 16686
    targetPort: 16686
    protocol: TCP
    name: query
    nodePort: 30686
  - port: 4317
    targetPort: 4317
    protocol: TCP
    name: otlp-grpc
  - port: 4318
    targetPort: 4318
    protocol: TCP
    name: otlp-http
  - port: 14250
    targetPort: 14250
    protocol: TCP
    name: grpc
  - port: 14268
    targetPort: 14268
    protocol: TCP
    name: http
  selector:
    app: jaeger
