apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
  namespace: default
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush         1
        Log_Level     info
        Daemon        off
        Parsers_File  parsers.conf

    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Parser            docker
        Tag               kube.*
        Refresh_Interval  5
        Mem_Buf_Limit     5MB
        Skip_Long_Lines   On

    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Keep_Log            Off
        K8S-Logging.Parser  On
        K8S-Logging.Exclude On

    # 1. Parse structured logs from the app
    [FILTER]
        Name         parser
        Match        kube.*
        Key_Name     log
        Parser       noise_parser
        Reserve_Data True

    # 2. Drop 100% of success logs (demonstrating edge filtering)
    [FILTER]
        Name    grep
        Match   *
        Exclude status 200

    # 3. Enrich with edge metadata
    [FILTER]
        Name    modify
        Match   *
        Add     edge_region south-1

    [OUTPUT]
        Name          opentelemetry
        Match         *
        Host          localhost
        Port          4318
        Metrics_uri   /v1/metrics
        Logs_uri      /v1/logs
        Traces_uri    /v1/traces
        Log_response_payload True
        Tls           Off

  parsers.conf: |
    [PARSER]
        Name         docker
        Format       json
        Time_Key     time
        Time_Format  %Y-%m-%dT%H:%M:%S.%L
        Time_Keep    On

    [PARSER]
        Name        noise_parser
        Format      regex
        Regex       ^.*\[REQUEST\] scenario=(?<scenario>[^ ]+) status=(?<status>\d+).*$
        Types       status:integer
