apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: default
  labels:
    app: edge-collector
spec:
  selector:
    app: edge-collector
  ports:
    - name: prometheus
      port: 8889
      targetPort: 8889
      protocol: TCP
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      protocol: TCP
    - name: internal-metrics
      port: 8888
      targetPort: 8888
      protocol: TCP
